// pull in the shared settings for all configs for this target
#include "Version0JestQuest.xcconfig"

// Unreal per-config variables
UE_TARGET_CONFIG = DebugGame
UE_UBT_BINARY_SUBPATH = Version0JestQuest-IOS-DebugGame
UE_IOS_EXECUTABLE_NAME = Version0JestQuest-IOS-DebugGame
PRODUCT_NAME = Version0JestQuest-IOS-DebugGame
