// pull in the shared settings for all configs for this target
#include "Version0JestQuest.xcconfig"

// Unreal per-config variables
UE_TARGET_CONFIG = Shipping
UE_UBT_BINARY_SUBPATH = Version0JestQuest-Mac-Shipping
UE_MAC_EXECUTABLE_NAME = Version0JestQuest-Mac-Shipping
CODE_SIGN_ENTITLEMENTS = ../../Build/Mac/Resources/Sandbox.NoNet.entitlements

// this variable trickery will set the proper name for debugging, building, and archiving,
// where archiving (the '_install' action type) may need a differnet name so it shows up nicely
// on end-users machines in Finder, Spotlight, etc. The trailing _ on the next line is correct.
PRODUCT_NAME_ = Version0JestQuest-Mac-Shipping
PRODUCT_NAME_build = $(PRODUCT_NAME_)
PRODUCT_NAME_install = Version0JestQuest
PRODUCT_NAME = $(PRODUCT_NAME_$(ACTION))
